/content/audio/
/content/ffmpeg/
/content/img/
/content/video/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/iam.json
/.env
/_urls.json
/*.dbNews
/*.db
*tst.*
/db*.json
/*.ass
/src/tst/
/front/test.html
/front/tmp/
/front/public/*
/front/src/components/components/Testing/
/db/
*.css
*.css.map
/back/lib/lm/models/
/back/lib/reports/.env
/assemblyScript/assembly/index.ts
